.button-like {
  position: relative;
  &__button {
    @include button-small;
  }

  &__button:hover .like,
  &__button:hover .aslike {
    stroke: $color-purple;
    fill: $color-purple;
  }

  &__alert {
    position: absolute;
    padding: 10px 20px;
    bottom: -70px;
    left: -66px;
    white-space: nowrap;
    font-size: 20px;
    text-align: center;
    color: $color-error;
    background-color: $color-white;
    border-radius: 10px;
  }
}
