.top-films {
  padding: 40px 80px 120px;

  &__h2 {
    margin-bottom: 64px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}
