.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 80px;

  &__logo {
    margin-right: 80px;
    transition: all 0.3s ease;
  }

  &__logo:hover {
    filter: opacity(0.7);
  }

  &__central-block {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
    margin-right: 50px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $color-white;
    font-size: 24px;
  }

  &__link:hover {
    color: $color-purple-hover;
  }
}
